* {
    font-family: 'Work Sans', sans-serif;
}

/*---------------
header styles  
----------------*/
.header {
    background: rgba(255, 144, 14, 0.1);
}

.header img {
    width: 1440px;
    height: 700px;
    margin: 30px;
    margin-top: 140px;
}

.header .brand {
    font-weight: 900;
    font-size: 64px;
    color: #131313;
    text-align: center;
}

.header .description {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.header-bar .link {
    display: flex;
    gap: 30px;
    padding-top: 26px;
}

.header-bar a {
    text-decoration: none;
    color: black;
}

/*---------------
section-2 srtyle
-----------------*/

.section-2 {
    margin-top: 50px;
    margin-bottom: 130px;
    display: flex;
    gap: 70px;
}

.section-2-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-left: 30px;
}

.section-2-description {
    margin-top: 180px;
}

.quick-list {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.quick-list strong {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.quick-list b {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.quick-list-description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.section-2 .explore {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border-color: #FF900E;
    width: 180px;
    height: 64px;
    margin-top: 30px;
    cursor: pointer;
}

.explore:hover {
    background-color: black;
}

/*---------------
section-3 srtyle
-----------------*/

.section-3 {
    margin-left: 150px;
    margin-right: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.features .vl {
    background: #FF900E;
    border-left: 6px solid green;
    height: 106px;
    font-weight: 700;
    font-size: 45px;
}

.features p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.zbox {
    padding-left: 20px;
    padding-top: 40px;
    box-shadow: 10px 5px 5px rgba(255, 255, 255, 0.308);
}

.zbox h3 {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.zbox p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn .button {
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    padding: 45px;
}

.button strong {
    font-weight: 700;
    font-size: 65px;
}

.btn button {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 120px;
}

/* -------------
  section-4 style  
  ---------------*/

.section-4 {
    margin-left: 150px;
}

.facts h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.facts p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* section-5 style  */

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.box {
    color: #424242;
    width: 241.83px;
    height: 241.83px;
    left: 897.92px;
    top: 3663.08px;
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
    transition: width 2s, height 2s, transform 2s;
}

.box h2 {
    font-weight: 600;
    font-size: 45px;
}

.box p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.box:hover{
    width: 200px;
    height: 200px;
    transform: rotate(360deg);
    background-color: coral;
}

/* section-6 style  */

.sponsor {
    text-align: center;
}

.sponsor h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sponsor p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* section-7 style  */

.logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: 50px;
}

.sponsore-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* section-8 bonus section style  */
.bonus{
    font-family: 'Lobster', cursive;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: #FF5959;;
    background: #0B0D17;
    padding: 50px;
}


/* section-9 style  */
.footer{
    margin-left: 100px;
    margin-right: 100px;
}
.footer p {
    text-align: center;
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #FFF4E7;
    border-radius: 8px;
    
}

/* section-10 media query  */

@media screen and (max-width: 576px){
    .header-bar {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    
    .header .brand{
        text-align:start;
    }
    .header-bar .link {
        display: flex;
        padding: 0;
        flex-direction: column;
    }
    .header img{
        margin: auto;
        width: 100%;
        height: 50%;
        padding: 0;
    }
    .section-2 {
        margin: auto;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .section-2-img{
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .section-2 .explore{
        margin-bottom: 50px;
    }
    .section-3{
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .boxes{
        padding: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .box{
        margin-top: 30px;
    }
    .section-4 {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0;
    }
    .logo{
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .sponsore-img{
        padding-top: 30px;
    }
    .bonus{
        margin: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .footer{
        margin: 0;
    }
    .btn img{
        width: 100%;
    }
}